# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual Environment
.env
.venv/

# Tests and Coverage
.coverage
coverage.xml

# Project specific
data/*

# IDE
.vscode/
.idea/

# DuckDB
*.duckdb
*.duckdb.wal

# Repo-to-text
*repo-to-text*